<!-- <section class="fixed-bottom">
    <div class="container-fluid bg-dark">
        <div class="row mt-2">
            <div class="col-12 col-md-4">
            <div class="iconbar">
            <ul>
                <li><i class="bi bi-linkedin"></i></li>
                <li><i class="bi bi-facebook"></i></li>
                <li><i class="bi bi-google"></i></li>
                <li><i class="bi bi-twitter"></i></li>
                <li><i class="bi bi-instagram"></i></li>
            </ul>
            </div>
            </div>

            <div class="col-12 col-md-4">&nbsp;</div>
            
            <div class="col-12 col-md-4 text-white text-right">
                &copy; 2023 Copyright: Keypoint technology.com
            </div>
        </div>
    </div>
</section> -->
<div class="bottom">

    <footer class="bg-dark text-center text-white">
    <div class="row w-100">
        <div class="col-md-6 mt-2 pt-2 mx-auto" >
        <ul class="page">
            <li> <a class="btn btn-outline-light btn-floating " href="https://www.keypoint-tech.com/" role="button"
                ><i class="bi bi-linkedin"></i></a>
        </li>
        <li><a class="btn btn-outline-light btn-floating " href="#!" role="button"
            ><i class="bi bi-facebook"></i
          ></a></li>
          <li> <a class="btn btn-outline-light btn-floating " href="#!" role="button"
            ><i class="bi bi-google"></i
          ></a></li>
          <li><a class="btn btn-outline-light btn-floating " href="#!" role="button"
            ><i class="bi bi-instagram"></i
          ></a></li>
          <li> <a class="btn btn-outline-light btn-floating " href="#!" role="button"
            ><i class="bi bi-twitter"></i
          ></a></li>
          <li>
            <a class="btn btn-outline-light btn-floating " href="#!" role="button"
            ><i class="bi bi-github"></i
          ></a>
          </li>
        </ul>
        </div>
        <div class="col-md-6 mt-4" >
            <ul class="page1">
                
          <li>© Copyright 2023 Keypoint Technologies Pvt Ltd

          </li>
        </ul>
        </div>




      </div>
     
    </footer>
    
  </div>
 