<app-loginheader></app-loginheader>
<form [formGroup]= "loginForm" (ngSubmit)="onSubmit()"  class="page">
         
           <div class="container mt-2 py-5 cardy">
             <div class="row py-5 mt-5 text-center">
                <div class="col-12 col-lg-12">
                    <h1>Login Form</h1>
                </div>
             </div>
            <div class="row justify-content-center">
           
             <div class="col-12 col-lg-4 my-4">
                <input type="text" placeholder="Email" class="form-control" name="Email" id="Email" formControlName="Email" [(ngModel)]="Email" required>
                <div *ngIf="loginForm.get('Email')?.touched && loginForm.get('Email')?.hasError('required')">*Email is required</div>
                <div *ngIf="loginForm.get('Email')?.touched &&loginForm.get('Email')?.hasError('pattern')">*Enter Proper formate</div>                     
         </div>
         </div>
         <div class="row justify-content-center">
         <div class="col-12 col-lg-4 ">
         <input type="password" placeholder="Password" class="form-control" formControlName="pwd" name="pwd" id="pwd" [(ngModel)]="pwd">
                 <div *ngIf="loginForm.get('pwd')?.touched && loginForm.get('pwd')?.hasError('required')">*Password is required</div>
                 <div *ngIf="loginForm.get('pwd')?.touched &&loginForm.get('pwd')?.hasError('minlength')">*Enter atleast 3 characters</div>
         </div>
             </div> 
             <div class="row py-3">
                <div class="col-12 text-center ">
                       <button class="btn btn-primary" type="submit">Login</button>
                </div>
         </div>
         
             </div>
            
           </form>
           <app-footer class="fixed-bottom"></app-footer>