<section id="aboutus">
    <!-- <h1 class="text-center">ABOUT US</h1> -->
    <div class="container mb-5 mt-5">
        
            <h1 class="text-center">ABOUT US</h1> 
        </div>
        <div class="container mb-5 mt-5">
        <div class="row py-5">
            <div class="col-12 col-lg-6">
               <h1 class="para"> “KeyPoint Technologies is the leader in AI, NLP, input, and language technology space.”</h1>
               <!-- <hr> -->
            </div>
            <div class="col-12 col-lg-6 mt-2 text1">
     <p>“KPT is a global leader in innovative language technology. We are a renowned leader in user interface technology, we believe in expanding our expertise and research towards developing superior technology solutions for multiple platforms and devices. We offer a unique combination of linguistic science, NLP, with advanced linguistic support. Our innovative product range includes the industry’s first user initiated and multilingual search and discovery platform “Xploree”, localization platform “Tranflow” and chatbot platform “Cerina Studio”.
KPT is a trusted partner to OEMs, operators, and App developers for developing intelligent interfaces, engines and input experience.”</p>
            </div>
        </div>
        <div class="row mb-5 text1">
            <div class="col-12 col-lg-3">
               <p><b>Mission</b> : Revolutionize communication, simplify and enhance user experience with innovative language tech.</p>
               <!-- <hr> -->
            </div>
            <div class="col-12 col-lg-3">
              <p><b>Vision</b> : Lead in language tech, drive innovation, empower efficient communication, shape future human-computer interaction.</p>
            </div>
        
        <div class="col-12 col-lg-6">
           <p>This concise mission and vision statement accurately conveys Keypoint Technologies’ commitment to revolutionizing communication through innovative language technology solutions, while positioning the company as a leader in the industry, driving innovation and shaping the future of human-computer interaction.</p>
               </div>
               </div>
    </div>
</section>