      
    <section class="product mt-5">
       
    <div class="container  py-5 ">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="prod">Our Products</h1>
        </div>
      </div>
        <div class="row pt-5 ">
            
           <div class="col-12 col-lg-3">
            <img src="/assets/xploree.webp">    
        </div>
        <div class="col-12 col-lg-3 text mb-2">
            <h1>  Xploree Keyboard</h1>
<p>“Industry’s first AI powered multilingual keyboard application supports both Android and IOS which understands users’ intent and interests and recommends useful content in real time conversations known as Sentiment analysis.</p>

          </div>
          <div class="col-12 col-lg-3">
            <img src="/assets/cerina.jpg">
        </div>
        <div class="col-12 col-lg-3 text mb-2 paginate" >
          <h1> Cerina Studio </h1>
              <p>
            “Cerina studio is a platform that paves a path to connect intelligent, 
             human- centric and futuristic technologies and integrates interactive virtual assistants powered by conversational AI,
              Machine learning, NLP and deep learning development.”
                </p>
        </div>
      </div>
      <div class="row pt-3 mt-5">
        <div class="col-12 col-lg-3">
         <img src="/assets/transflow.jpg">    
     </div>
     <div class="col-12 col-lg-3 text mb-2">
         <h1>  Transflow Services</h1>
<p>“Industry’s first AI powered multilingual keyboard application supports both Android and IOS which understands users’ intent and interests and recommends useful content in real time conversations known as Sentiment analysis.</p>

       </div>
       <div class="col-12 col-lg-3">
         <img src="/assets/transflow.jpg">
     </div>
     <div class="col-12 col-lg-3 text mb-2" >
       <h1> IT Services </h1>
           <p>
         “Cerina studio is a platform that paves a path to connect intelligent, 
          human- centric and futuristic technologies and integrates interactive virtual assistants powered by conversational AI,
           Machine learning, NLP and deep learning development.”
             </p>
     </div>
   </div>
     </div>
    </section>
   
